html
  head
    title Pure Sass FizzBuzz
    link(href='/styles.css' , rel='stylesheet')
    script(src='/jquery-3.2.1.min.js')
    script(src='/scripts.js')
  body
    h1 Without JavaScript
    - var n = 1;
    ul
      while n < 100
        li= n++

    form.userInputForm
      h1 With JavaScript for User Input
      input.userInput
      button(type='submit') SUBMIT
    ul.output
